# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
****

**Objectives:**
- List popular languages for Data Science 
- List popular libraries used by Data Scientists
- List popular Data Science Tools
****

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch

****
<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Juptyer Notebooks</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

****

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = "hours"
print("%02d:%02d" % (divmod(minutes, 60)),hours)

03:20 hours

****
## Author
Shawn Regan