## **My Jupyter Notebook on IBM Watson Studio**

#### **Author: Shawn Regan**

#### Current Occupation: Senior - Data Analysis

****

#### *I am interested in data science because there is a lot of money in it data science LOL*
****

#### My favorite data science languages:
1. SQL
2. R
3. Python
****
#### My Data Science Learning List:
<table>
    <tr>
        <th>Program</th>
        <th>Difficulty</th>
        <th>Priority</th>
    </tr>
    <tr>
        <td>SQL</td>
        <td>Easy</td>
        <td>1</td>
    </tr>
    <tr>
        <td>R</td>
        <td>Medium</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Python</td>
        <td>Difficult</td>
        <td>3</td>
    </tr>
</table>

#### The following code will display today's date and time:

In [4]:
import datetime
message = "Today's Date and Time is: "
print(message, datetime.datetime.now())

Today's Date and Time is:  2023-03-04 20:38:04.187072

****

#### Below is some simple math:

In [5]:
(3+3)*2

12

****

#### Minutes to hours, hurray!!!!!

In [6]:
minutes = 204
print("%02d:%02d" % (divmod(minutes, 60)))

03:24

****
#### Data Science Tools:
1. Apache Spark
2. SAS Visual Analytics
3. Manta

****
#### A few data science libraries: 
1. PyTorch
2. TensorFlow
3. Pandas

****
#### Objectives completed in this workbook: 
Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)